PORT=myPort
DBUSER='myUsername',
DBPASSWORD='myPassword',
DBNAME='myDbName'
MONGO_URI='myMongoUri'
NODEMAILER_USER='myGmail'
NODEMAILER_CLIENT_ID='myNodemailerClientId'
NODEMAILER_CLIENT_SECRET='myNodemailerClientSecret'
NODEMAILER_REFRESH_TOKEN='myNodemailerRefreshToken'
NODEMAILER_ACCESS_TOKEN='myNodemailerAccessToken'
SESSION_SECRET='mySessionSecret'